@font-face {
  font-family: 'MontserratThin';
  font-style: normal;
  font-weight: 100;
  src: local('MontserratThin'),
  url('./MontserratThin/MontserratThin.eot')
  format('embedded-opentype'),
  url('./MontserratThin/MontserratThin.woff2') format('woff2'),
  url('./MontserratThin/MontserratThin.woff') format('woff'),
  url('./MontserratThin/MontserratThin.ttf') format('truetype'),
  url('./MontserratThin/MontserratThin.svg#MontserratThin')
  format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'MontserratRegular';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratRegular'),
  url('./MontserratRegular/MontserratRegular.eot')
  format('embedded-opentype'),
  url('./MontserratRegular/MontserratRegular.woff2')
  format('woff2'),
  url('./MontserratRegular/MontserratRegular.woff') format('woff'),
  url('./MontserratRegular/MontserratRegular.ttf')
  format('truetype'),
  url('./MontserratRegular/MontserratRegular.svg#MontserratRegular')
  format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'MontserratBold';
  font-style: normal;
  font-weight: 700;
  src: local('MontserratBold'),
  url('./MontserratBold/MontserratBold.eot')
  format('embedded-opentype'),
  url('./MontserratBold/MontserratBold.woff2') format('woff2'),
  url('./MontserratBold/MontserratBold.woff') format('woff'),
  url('./MontserratBold/MontserratBold.ttf') format('truetype'),
  url('./MontserratBold/MontserratBold.svg#MontserratBold')
  format('svg');
  font-display: swap;
}
