@font-face {
  font-family: 'Orbitron-Bold';
  src: local('Orbitron-Bold'),
    url('assets/fonts/Orbitron-Bold/Orbitron-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Orbitron-Medium';
  src: local('Orbitron-Bold'),
    url('assets/fonts/Orbitron-Medium/Orbitron-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Orbitron-Light';
  src: local('Orbitron-Bold'),
    url('assets/fonts/Orbitron-Light/Orbitron-Light.woff') format('woff');
}

@font-face {
  font-family: 'Font-Awesome';
  src: local('Orbitron-Bold'),
    url('assets/fonts/Font-Awesome/Font-Awesome.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, Orbitron-Medium, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}
