@font-face {
  font-family: 'MontserratThin';
  font-style: normal;
  font-weight: 100;
  src: local('MontserratThin'),
    url('assets/fonts/MontserratThin/MontserratThin.eot')
      format('embedded-opentype'),
    url('assets/fonts/MontserratThin/MontserratThin.woff2') format('woff2'),
    url('assets/fonts/MontserratThin/MontserratThin.woff') format('woff'),
    url('assets/fonts/MontserratThin/MontserratThin.ttf') format('truetype'),
    url('assets/fonts/MontserratThin/MontserratThin.svg#MontserratThin')
      format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'MontserratRegular';
  font-style: normal;
  font-weight: 400;
  src: local('MontserratRegular'),
    url('assets/fonts/MontserratRegular/MontserratRegular.eot')
      format('embedded-opentype'),
    url('assets/fonts/MontserratRegular/MontserratRegular.woff2')
      format('woff2'),
    url('assets/fonts/MontserratRegular/MontserratRegular.woff') format('woff'),
    url('assets/fonts/MontserratRegular/MontserratRegular.ttf')
      format('truetype'),
    url('assets/fonts/MontserratRegular/MontserratRegular.svg#MontserratRegular')
      format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'MontserratBold';
  font-style: normal;
  font-weight: 700;
  src: local('MontserratBold'),
    url('assets/fonts/MontserratBold/MontserratBold.eot')
      format('embedded-opentype'),
    url('assets/fonts/MontserratBold/MontserratBold.woff2') format('woff2'),
    url('assets/fonts/MontserratBold/MontserratBold.woff') format('woff'),
    url('assets/fonts/MontserratBold/MontserratBold.ttf') format('truetype'),
    url('assets/fonts/MontserratBold/MontserratBold.svg#MontserratBold')
      format('svg');
  font-display: swap;
}

@font-face {
  font-family: 'Font-Awesome';
  src: local('Font-Awesome'),
    url('assets/fonts/Font-Awesome/Font-Awesome.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, MontserratRegular, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}
